extends ../layouts/default

block content
		if pendencias.length
			.page-header
				h1 "Aprovação de Empresas no Sistema"
			.row
				.col-sm-8
					form#frmPendencia
						table(id="tbPendencia", class="false table items-list")
							tr
								th Razão Social
								th Descrição
								th Responsável Legal
							each pendencia, i in pendencias
								tr.side-link(value=pendencia.razaoSocial)
									td #{pendencia.razaoSocial}
									td #{pendencia.descricao}
									td #{pendencia.responsavelLegal.nome}
									td
										button#1(type='button', name='btnAprove') Aprovar
									td
										button#2(type='button', name='btnDesaprove', value = tr) Rejeitar
									td 
										input#idItem(type='hidden',value =  pendencia.razaoSocial)
									td 
										input#stsItem(type='hidden', value= pendencia.razaoSocial)
							td(id=i) 
							
					.row
		else
			.jumbotron.text-center
				h3(style="margin-bottom:0;margin-top:0;") There are no albums yet.	
		form(method='post').form-horizontal
			input(type='hidden', name='action', value='aprovacao')
			.form-group
				.col-sm-10.col-sm-offset-2					
					button(type='submit').btn.btn-primary Submit
					
block page-js
		script.
			var teste; 
			$(".table").on('click','tr',function(e){
			e.preventDefault();
			var id = $(this).attr('value');
			alert(id + " - " + teste);
			});
			$("button[name='btnAprove']").click(function(){
			var id = $(this).attr("id");
			var item = $(this).attr("tr");
			$("#idItem").val(id);
			$("#stsItem").val("Aprovado");
			//$("#frmPendencia").submit();
			teste = id;
			var status = $("#stsItem").val();
			//alert(val + " - " + item);
			});
			$("button[name='btnDesaprove']").click(function(){
			var id = $(this).attr("id");
			$("#idItem").val(id);
			$("#stsItem").val("Rejeitado");
			//$("#frmPendencia").submit();
			var val = $("#idItem").val();
			var status = $("#stsItem").val();
			teste = id;
			});
