extends ../layouts/default

block content
	if empresaSubmitted && usuarioSubmitted && pessoaSubmitted
		.container
			.row
				.col-md-12.text-center
					h1.green Cadastro efetuado com sucesso!
	else if cadastroCnpj
		if empresaExistente
			.container
				.row
					.col-md-12.text-center
						h1.green CNPJ já está cadastrado em nosso sistema!
		else 
			.container
				.row
					.col-md-12.text-center
						h2.orange Nova Empresa por aqui?
						p
							i 
								strong Comprador ou Vendedor:
								|  Fique por dentro do que movimenta São Paulo
				.row
					.col-md-12.rule-bottom.text-center
						h3 Cadastro Instituição
				.row
					.col-sm-8
						form(method='post').form-horizontal
							input(type='hidden', name='action', value='isCnpj').
							.row
								.col-xm-12.col-md-7
									.col-xm-12.col-md-6
										.form-group(class=validationErrors.empresaType ? 'has-error' : null required)
											label.sr-only.col-sm-2.control-label.sr-only Tipo de Instituição 
											select(name='empresaType' required x-moz-errormessage="Por favor selecione um tipo de Instituição.").form-control
												option(value='') Tipo de Instituição
												each tipo in empresaTypes
													option(value=tipo.value selected=formData.empresaType === tipo.value)= tipo.label
									.col-xm-12.col-md-5.col-md-offset-1
										.form-group
											label.sr-only.col-sm-2.control-label.sr-only CNPJ
											input(type='text' name='cnpj' required x-moz-errormessage="Por favor preencha esse campo." placeholder='CNPJ').form-control
							.row
								.col-md-12.text-center
									button(type='submit').btn.green.small Enviar
	else if cadastroInstituicao
		.container
			.row
				.col-md-12.text-center
					h2.orange Nova Empresa por aqui?
					p
						i
							strong Comprador ou Vendedor:
							|  Fique por dentro do que movimenta São Paulo
			.row
				.col-md-12.rule-bottom.text-center
					h3 Instituição
					form(method='post').form-horizontal
						input(type='hidden', name='action', value='cadastroEmpresa')
						input(type='hidden' name='cnpj' value = cnpj)
						input(type='hidden' name='empresaType' value = empresaType)
						.row.no-bottom-margin
							.col-xm-12.col-md-7
								.col-md-12
									.form-group
										label.sr-only.col-sm-2.text-left.control-label.sr-only Nome Fantasia
										input(type='text' name='nomeFantasia' placeholder='Nome Fantasia').form-control
									.form-group
										label.sr-only.col-sm-2.text-left.control-label.sr-only Razão Social
										input(type='text' name='razaoSocial' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Razão Social').form-control
									.form-group
										label.sr-only.col-sm-2.text-left.control-label.sr-only Descrição
										input(type='text' name='descricao' placeholder="Breve descrição da sua Instituição/Start-up/Workplace/Incubadora/Universidade").form-control
									.form-group(class=validationErrors.email ? 'has-error' : null)
										label.sr-only.col-sm-2.text-left.control-label.sr-only Email
										input(type='email' name='email' required x-moz-errormessage="Por favor preencha com um email válido." placeholder='Email').form-control
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only CNAE
										select(name='cnae').form-control
											option(value='') Selecione o CNAE
											each cnae in cnaes
												option(value=cnae.id) #{cnae.codigo}
							.col-xm-12.col-md-5
								.col-md-12
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only Contato
										input(type='text' name='contato' placeholder='Contato').form-control
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only Contato Comercial
										input(type='text' name='contatoComercial' placeholder='Contato Comercial').form-control
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only Telefone
										input(type='text' name='telefone' placeholder='Telefone (Ex. (00)0000-0000)').form-control
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only Logo
										input(type='text' name='logo' placeholder='Logo').form-control
						.row
							.col-md-12.rule-bottom.text-center
								h3 Localização
						.row
							.col-xm-12.col-md-6
								.col-md-12
									.form-group
										label.control-label.sr-only Endereço:
										input(type='text' name='endereco' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Endereço").form-control
							.col-xm-12.col-md-6
								.form-group
									.col-sm-6
										label.control-label.sr-only CEP:
										input(type='text' name='cep' required x-moz-errormessage="Por favor preencha esse campo." placeholder='CEP (Ex. 000.00-000)').form-control
								
									.col-sm-3
										label.control-label.sr-only Número:
										input(type='text' name='enderecoNumero' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Nº (Ex.999)').form-control
										
									.col-sm-3
										label.control-label.sr-only Estado:
										input(type='text' name='estado' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Estado').form-control
						.row
							.col-xm-12.col-md-6
								.col-md-12
									.form-group
										label.control-label.sr-only Bairro:
										input(type='text' name='bairro' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Bairro').form-control
										
							.col-xm-12.col-md-6
								.col-md-12
									.form-group
										label.control-label.sr-only Cidade:
										input(type='text' name='cidade' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Cidade').form-control
									
						.row
							.col-xm-12.col-md-6
								.col-md-12
									.rule-bottom.text-center
										h3 Representante Legal
									.form-group
										label.sr-only.col-sm-2.text-left.control-label.sr-only CPF:
										input(type='text' name='cpf' required x-moz-errormessage="Por favor preencha esse campo." placeholder="CPF (Ex. 00.000.000-0)").form-control
									.form-group
										label.sr-only.col-sm-2.text-left.control-label.sr-only Nome:
										input(type='text' name='nome' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Nome").form-control
							.col-xm-12.col-md-6
								.col-md-12
									.rule-bottom.text-center
										h3 Sua Empresa na Web
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only Twitter
										input(type='text' name='twitter' placeholder='Twitter').form-control
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only Facebook
										input(type='text' name='facebook' placeholder='Facebook').form-control
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only Linkedin
										input(type='text' name='linkedin' placeholder='linkedin').form-control
									.form-group
										label.sr-only.col-sm-2.control-label.sr-only WebSite
										input(type='text' name='webSite' placeholder='Web Site').form-control
						.row
							.col-md-12.text-center
								.form-group
									button(type='submit').btn.green Enviar
	else if cadastroUsuario
		.container
			.row
				.col-md-12.text-center
					h2.orange Nova Empresa por aqui?
					p
						i 
							strong Comprador ou Vendedor:
							|  Fique por dentro do que movimenta São Paulo
			.row
				.col-md-12.rule-bottom.text-center
					h3 Cadastro Email
			.row
				.col-sm-8
					form(method='post').form-horizontal
						input(type='hidden', name='action', value='cadastroEmail').
						.row
							.col-xm-12.col-md-6
								.col-md-12
									.form-group(class=validationErrors.email ? 'has-error' : null)
										label.sr-only.col-sm-2.text-left.control-label.sr-only Email
										input(type='email' name='email' required x-moz-errormessage="Por favor preencha com um email válido." placeholder='Email').form-control
						.row
							.col-md-12.text-center
								button(type='submit').btn.green.small Enviar
	