extends ../layouts/default

block content	
	.row#leadspace
		.col-xs-12.col-md-12.text-center
			h2.upp Venha fazer parte do Sampa.digital.
			p.btn.purple
				a(href="cadastro") Cadastre-se aqui
	//Carrossel desativado
	//
		.container-fluid.slider.text-center
			.carousel.slide.carousel-fade#mainCarousel(data-ride="carousel")
				//Wrapper for slides
				.carousel-inner(role="listbox")
					div.item.active
						.container
							.row
								.col-xs-12.col-md-offset-2.col-md-8
									h2.upp Conheça a São Paulo Aberta
									p São Paulo é uma das primeiras cidades do mundo a incorporar, de forma integrada, a transparência, participação social, inovação tecnológica e integridade nas políticas públicas.
									p.btn.purple
										a(href="#") Leia Mais
					div.item
						.container
							.row
								.col-xs-12.col-md-6
									h2.upp Programa Vai Tec
									p Se você tem mais de 14 anos, vive em São Paulo e tem uma ideia para mudar a cidade, chegou a sua vez! 
									p.btn.green
										a(href="#") Leia Mais
								.col-xs-12.col-md-6
									h2.upp Empreendedorismo
									p A Adesampa e o British Council fecharam parceria para um curso de gestão na metodologia desenvolvida pelo Newton Fund no Reino Unido.
									p.btn.orange
										a(href="#") Leia Mais
					div.item
						.container
							.row
								.col-xs-12.col-md-offset-2.col-md-8
									h2.upp Novo decreto
									p Iniciativa inédita traz mecanismos facilitadores para que segmento cresça, incrementando a economia, a geração de renda e o emprego formal.
									p.btn.orange
										a(href="#") Leia Mais
				//Left and right controls
				a.left.carousel-control(href="#mainCarousel", role="button", data-slide="prev")
					span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(href="#mainCarousel", role="button", data-slide="next")
					span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
				//Indicators
				ol.carousel-indicators
					li.active(data-target="#mainCarousel" data-slide-to="0")
					li(data-target="#mainCarousel" data-slide-to="1")
					li(data-target="#mainCarousel" data-slide-to="2")
	#op.oportunidades.separation-rule
		.container
			.row
				.col-md-12.text-center
						h2.orange Oportunidades 
						p.small.gray 
							i Para você que quer comprar ou vender		
			.row
				.col-xs-12.col-md-6
					img(src="/images/querocomprar.png", alt="Quero Comprar")
					if oportunidades1.length
						each oportunidade in oportunidades1
							.row
								.col-md-3
									if oportunidade.image
										img.fit(oportunidade.image.fit(160,160))
									else
										img.img-responsive(src='/images/icon_500x500.svg')
								.col-md-9
									h3.no-margin
										a(href='oportunidades?=' + oportunidade.id): = oportunidade.nome
									p 
										if oportunidade.empresa
											span.orange
												| #{oportunidade.empresa.nomeFantasia}
										else
											span.orange
												| Empresa de Gatinhos
										| &nbsp;| Publicado em:
										if oportunidade.createdAt
												span.orange 
													| #{oportunidade._.createdAt.format('DD')} de #{oportunidade._.createdAt.format('MMMM')} de #{oportunidade._.createdAt.format('YYYY')}
										else
												span.orange 
													| Bananas
									if oportunidade.breveDescricao
										p!= oportunidade.breveDescricao
									else
										p Bananosas bananudas!	
					else
						.row
							.col-md-12
								h3.text-center Nenhuma oportunidade cadastrada!
					br
					.row.text-center
						.col-xs-12.col-md-6
							p.btn.green
								a(href="oportunidades?comprar") [+] Oportunidades...
						.col-xs-12.col-md-6
							p.btn.green
								a(href="pessoa?comprar") Anuncie como Comprador
					br
					br
					br
				.col-xs-12.col-md-6
					img(src="/images/querovender.png", alt="Quero Vender")
					if oportunidades2.length
						each oportunidade in oportunidades2
							.row
								.col-md-3
									if oportunidade.image
										img.fit(oportunidade.image.fit(160,160))
									else
										img.img-responsive(src='/images/icon_500x500.svg')
								.col-md-9
									h3.no-margin
										a(href='oportunidades?=' + oportunidade.id): = oportunidade.nome
									p 
										if oportunidade.empresa
											span.orange
												| #{oportunidade.empresa.nomeFantasia}
										else
											span.orange
												| Empresa de Gatinhos
										| &nbsp;| Publicado em:
										if oportunidade.createdAt
												span.orange 
													| #{oportunidade._.createdAt.format('DD')} de #{oportunidade._.createdAt.format('MMMM')} de #{oportunidade._.createdAt.format('YYYY')}
										else
												span.orange 
													| Bananas
									if oportunidade.breveDescricao
										p!= oportunidade.breveDescricao
									else
										p Bananosas bananudas!
					else
						.row
							.col-md-12
								h3.text-center Nenhuma oportunidade cadastrada!	

					br
					.row.text-center
						.col-xs-12.col-md-6
							p.btn.purple
								a(href="oportunidades?vender") [+] Oportunidades...
						.col-xs-12.col-md-6
							p.btn.purple
								a(href="pessoa?vender") Anuncie como Vendedor						
					br
					br
					br
				.row.text-center
					.col-md-12
						img(src="/images/querodesenvolver.png", alt="Quero Desenvolver")
				.row
					.col-md-offset-3.col-md-1.text-center
						img(src="/images/IBM_Bluemix_logo.svg.png", alt="Bluemix logo", width="90")
					.col-md-5
						p
							a.blue(href="#") Você é um profissional de TI ou uma startup? Tenha acesso às informações que podem ajudar no desenvolvimento do seu aplicativo ou na criação da sua empresa.
					//
						form.form-quero-vender(action="#")
							.form-group
								input.form-control(placeholder="Seu Nome...", maxlength="40")
							.form-group
								input.form-control(type="email", placeholder="Seu Email...", maxlength="40")
							.form-group
								input.form-control(placeholder="Título do Anúncio", maxlength="40")
							.form-group
								textarea.form-control(placeholder="Escreva aqui a descrição do produto ou serviço que quiser oferecer...")
						br
						.row.text-center
							p.btn.purple
								a(href="#") Enviar
	noticias.separation-rule
		.container
			.row
				.col-md-12.text-center
						h2.orange Notícias
						p.small.gray
							i Fique por dentro do que movimenta São Paulo
			- var total = noticias.length
			- var counter = 0
			if noticias.length
				while counter < total
					.row
						.col-md-2.text-center
							if noticias.image
								img.fit(noticias[counter].image.fit(160,160))
							else
								img.img-responsive(src='/images/icon_500x500.svg')
						.col-md-4
							h3.no-margin: = noticias[counter].nome
							p.no-top-margin Publicado em:
								if noticias[counter].createdAt
									span.orange
										| #{noticias[counter]._.createdAt.format('DD')} de #{noticias[counter]._.createdAt.format('MMMM')} de #{noticias[counter]._.createdAt.format('YYYY')}
								else
									span.orange 
										| Bananas
							if noticias[counter].breveDescricao
								p!= noticias[counter].breveDescricao
							else
								p Bananosas bananudas!
							p.btn.small.orange
								a(href='blog/post/' + noticias[counter].key) Leia Mais
					- counter++
						if noticias[counter]
							.col-md-2.text-center
								if noticias.image
									img.fit(noticias[counter].image.fit(160,160))
								else
									img.img-responsive(src='/images/icon_500x500.svg')
							.col-md-4
								h3.no-margin: = noticias[counter].nome
								p.no-top-margin Publicado em:
									if noticias[counter].createdAt
										span.orange
											| #{noticias[counter]._.createdAt.format('DD')} de #{noticias[counter]._.createdAt.format('MMMM')} de #{noticias[counter]._.createdAt.format('YYYY')}
									else
										span.orange 
											| Bananas
								if noticias[counter].breveDescricao
									p!= noticias[counter].breveDescricao
								else
									p Bananosas bananudas!
								p.btn.small.orange
									a(href='blog/post/' + noticias[counter].key) Leia Mais
					- counter++
			else
				.row
					.col-md-12
						h3.text-center Nenhuma oportunidade cadastrada!	
				
			br
			br
			br
			.container.text-center
				.row
					.col-md-12
						p.btn.green
							a(href="blog") [+] Notícias...
			br
			br
			br
	.mapa.separation-rule
		.container
			#mapa.row
				.col-md-12.text-center
						h2.orange  Mapa 
						p.small.gray
							i Tudo o que você pode encontrar na AdeSampa Digital	
			.row
				.col-xs-12.col-md-8
					.text-center
						input(type='hidden' name='empresa-id', id='empresa-id',value=empresas[0].id)
						p.filters 
							span
								a.selected(href="#") Ver tudo
							|  / 
							span
								a(href="#") Start-ups
							|  / 
							span
								a(href="#") Workplaces
							|  / 
							span
								a(href="#") Incubadoras
							|  / 
							span
								a(href="#") Universidades
			.row
				.col-xs-12.col-md-12
					div#map(style="height: 100%;")
					script(scr=googlesrc, async, defer)
					include ../../public/js/map.js
				//
					.col-xs-12.col-md-4
						a(href="#")
							img.fit(src="/images/placeholder_1.jpg", alt="Quer divulgar um evento? Cadastre-se.")
						br
						br
						a(href="#")
							img.fit(src="/images/placeholder_2.jpg", alt="Coloque sua start-up no mapa.")
	.agenda.separation-rule
		.container
			#agenda.row
				.col-md-12.text-center
						h2.orange Agenda 
						p.small.gray
							i Fique por dentro do que movimenta São Paulo		
			.row
				if eventos.length
					each evento in eventos
						.col-xs-12.col-md-4
							.col-md-4.text-center
								if evento.img
									img.fit(src="/images/191115_sp_tech_interna_1447953871.jpg", alt="")
								else
									img.fit(src='/images/noticia_padrao.png')
							.col-md-8
								h3.no-top-margin
									if evento.createdAt
										span.orange
											| #{evento._.createdAt.format('DD')} de #{evento._.createdAt.format('MMMM')} de #{evento._.createdAt.format('YYYY')}
									else
										span.orange
											| Bananas!
									br
									if evento.nome
										p!= evento.nome
									else
										p Bananosas bananudas!
								if evento.breveDescricao
									p!= evento.breveDescricao
								else
									p Bananosas bananudas!
								p.btn.small.green
									a(href="#") Mais detalhes
				else
					h3.text-center
						Nenhum evento cadastrado!
			//
				.row
					.col-xs-12.col-md-4
						.col-md-4.text-center
							img.fit(src="/images/191115_sp_tech_interna_1447953871.jpg", alt="")
						.col-md-8
							h3.no-top-margin
								span.orange 03 a 09 de Novembro
								br
								| São Paulo Tech Week
							p Novas tecnologias, inovação e empreendedorismo são tema de 120 atividades realizadas em vários pontos da cidade.  
							p.btn.small.green
								a(href="#") Mais detalhes
					.col-xs-12.col-md-4
						.col-md-4.text-center
							img.fit(src="/images/jornada.gif", alt="Blog 1")
						.col-md-8
							h3.no-top-margin
								span.orange  12 e 13 de Dezembro
								br
								| 1a Jornada do Patrimônio em São Paulo 
							p   A iniciativa que convida a todos a conhecer a história da cidade representada no vasto patrimônio histórico, cultural e ambiental espalhado em todas as regiões. Imóveis públicos e privados abrirão suas portas para receber visitantes. 
							p.btn.small.green
								a(href="#") Mais detalhes
					.col-xs-12.col-md-4
						.col-md-4.text-center
							img.fit(src="/images/blog-image-2.jpg", alt="Blog 1")
						.col-md-8
							h3.no-top-margin  Empreendedorismo Feminino – WOW
							p  A WOW Aceleradora de Startups convida empreendedoras, empreendedores e interessados no ecossistema de inovação e startup – para o primeiro evento da aceleradora voltado para o empreendedorismo feminino. 
							p.btn.small.green
								a(href="#") Mais detalhes
			br
			br
			br
			.container.text-center
				.row
					.col-md-12
						p.btn.orange
							a(href="#") [+] Eventos...
			br
			br
			br
	
	.tecnologia.separation-rule
		.container
			#tecnologia.row
				.col-md-12.text-center
					h2.orange  Tecnologia  
			.row
				.col-md-4.text-center
						img(src="/images/simbio.jpg", alt="simbio")
				.col-md-4.text-center
						img(src="/images/vaitec.jpg", alt="VAI TEC")
				.col-md-4.text-center
						img(src="/images/bluemix_tec.jpg", alt="IBM Bluemix")
	
	.separation-rule
		.container
			.row
				.col-md-12.text-center
					h2.orange  Nossos Parceiros  
					p.small.gray
						i Hub do ecossistema de inovação, tecnologia e empreendedorismo de São Paulo
			.row
				.col-md-4.text-center
					img(src="/images/partner1.jpg", alt="IBM")
				.col-md-4.text-center
					img(src="/images/partner5.jpg", alt="SEBRAE")
				.col-md-4.text-center
						img(src="/images/partner4.jpg", alt="integrare")
						
