extends ../layouts/default

block content	
	.row#leadspace
		.col-xs-12.col-md-12.text-center
			h2.upp Venha fazer parte do Sampa.digital
			p.btn.purple
				a(href="cadastro") Cadastre-se aqui
	//Carrossel desativado
	//
		.container-fluid.slider.text-center
			.carousel.slide.carousel-fade#mainCarousel(data-ride="carousel")
				//Wrapper for slides
				.carousel-inner(role="listbox")
					div.item.active
						.container
							.row
								.col-xs-12.col-md-offset-2.col-md-8
									h2.upp Conheça a São Paulo Aberta
									p São Paulo é uma das primeiras cidades do mundo a incorporar, de forma integrada, a transparência, participação social, inovação tecnológica e integridade nas políticas públicas.
									p.btn.purple
										a(href="#") Leia Mais
					div.item
						.container
							.row
								.col-xs-12.col-md-6
									h2.upp Programa Vai Tec
									p Se você tem mais de 14 anos, vive em São Paulo e tem uma ideia para mudar a cidade, chegou a sua vez! 
									p.btn.green
										a(href="#") Leia Mais
								.col-xs-12.col-md-6
									h2.upp Empreendedorismo
									p A Adesampa e o British Council fecharam parceria para um curso de gestão na metodologia desenvolvida pelo Newton Fund no Reino Unido.
									p.btn.orange
										a(href="#") Leia Mais
					div.item
						.container
							.row
								.col-xs-12.col-md-offset-2.col-md-8
									h2.upp Novo decreto
									p Iniciativa inédita traz mecanismos facilitadores para que segmento cresça, incrementando a economia, a geração de renda e o emprego formal.
									p.btn.orange
										a(href="#") Leia Mais
				//Left and right controls
				a.left.carousel-control(href="#mainCarousel", role="button", data-slide="prev")
					span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(href="#mainCarousel", role="button", data-slide="next")
					span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
				//Indicators
				ol.carousel-indicators
					li.active(data-target="#mainCarousel" data-slide-to="0")
					li(data-target="#mainCarousel" data-slide-to="1")
					li(data-target="#mainCarousel" data-slide-to="2")
	#op.oportunidades.separation-rule
		.container
			.row
			- var opConter = 0;
				.col-md-12.text-center
						h2.orange Oportunidades 
						p.small.gray 
							i Para você que deseja comprar ou vender		
			.row
				.col-xs-12.col-md-6
					img(src="/images/querocomprar.png", alt="Quero Comprar")
					if oportunidades1.length
						- oportunidades1.reverse()
						while opConter < 4
							if oportunidades1[opConter]
								.row
									.col-md-3
										if oportunidades1[opConter].image
											img.fit(oportunidades1[opConter].image.fit(160,160))
										else
											img.img-responsive(src='/images/icon_500x500.svg', width='80', height='80')
									.col-md-9
										h3.no-margin
											a(href='oportunidades?=' + oportunidades1[opConter].id): = oportunidades1[opConter].nome
										p 
											if oportunidades1[opConter].empresa
												span.orange
													| #{oportunidades1[opConter].empresa.nomeFantasia}
											else
												span.orange
													| Empresa
											| &nbsp;| Publicado em:
											if oportunidades1[opConter].createdAt
													span.orange 
														| #{oportunidades1[opConter]._.createdAt.format('DD')} de #{oportunidades1[opConter]._.createdAt.format('MMMM')} de #{oportunidades1[opConter]._.createdAt.format('YYYY')}
											else
													span.orange 
														| sem data
										if oportunidades1[opConter].breveDescricao
											p!= oportunidades1[opConter].breveDescricao
										else
											p Sem descrição!
							- opConter++	
					else
						.row
							.col-md-12
								h3.text-center Nenhuma oportunidade cadastrada!
					br
					.row.text-center
						.col-xs-12.col-md-6
							p.btn.green
								a(href="oportunidades?comprar") [+] Oportunidades...
						.col-xs-12.col-md-6
							p.btn.green
								a(href="pessoa?comprar") Anuncie como Comprador
					br
					br
					br
				.col-xs-12.col-md-6
					img(src="/images/querovender.png", alt="Quero Vender")
					- oportunidades2.reverse()
					if oportunidades2.length
						- var vendCont = 0
						while vendCont < 4
							if oportunidades2[vendCont]
								.row
									.col-md-3
										if oportunidades2[vendCont].image
											img.fit(oportunidades2[vendCont].image.fit(160,160))
										else
											img(src='/images/icon_500x500.svg', width='80', height='80').img-responsive
									.col-md-9
										h3.no-margin
											a(href='oportunidades?=' + oportunidades2[vendCont].id): = oportunidades2[vendCont].nome
										p 
											if oportunidades2[vendCont].empresa
												span.orange
													| #{oportunidades2[vendCont].empresa.nomeFantasia}
											else
												span.orange
													| Empresa
											| &nbsp;| Publicado em:
											if oportunidades2[vendCont].createdAt
													span.orange 
														| #{oportunidades2[vendCont]._.createdAt.format('DD')} de #{oportunidades2[vendCont]._.createdAt.format('MMMM')} de #{oportunidades2[vendCont]._.createdAt.format('YYYY')}
											else
													span.orange 
														| sem data
										if oportunidades2[vendCont].breveDescricao
											p!= oportunidades2[vendCont].breveDescricao
										else
											p Sem descrição!
								- vendCont++
					else
						.row
							.col-md-12
								h3.text-center Nenhuma oportunidade cadastrada!	

					br
					.row.text-center
						.col-xs-12.col-md-6
							p.btn.purple
								a(href="oportunidades?vender") [+] Oportunidades...
						.col-xs-12.col-md-6
							p.btn.purple
								a(href="pessoa?vender") Anuncie como Vendedor						
					br
					br
					br
				.row.text-center
					.col-md-12
						img(src="/images/querodesenvolver.png", alt="Quero Desenvolver")
				.row
					.col-md-offset-3.col-md-1.text-center
						img(src="/images/IBM_Bluemix_logo.svg.png", alt="Bluemix logo", width="90")
					.col-md-5
						p
							a.blue(href="/bluemix") Você é um profissional de TI ou uma startup? Tenha acesso às informações que podem ajudar no desenvolvimento do seu aplicativo ou na criação da sua empresa.
					//
						form.form-quero-vender(action="#")
							.form-group
								input.form-control(placeholder="Seu Nome...", maxlength="40")
							.form-group
								input.form-control(type="email", placeholder="Seu Email...", maxlength="40")
							.form-group
								input.form-control(placeholder="Título do Anúncio", maxlength="40")
							.form-group
								textarea.form-control(placeholder="Escreva aqui a descrição do produto ou serviço que quiser oferecer...")
						br
						.row.text-center
							p.btn.purple
								a(href="#") Enviar
	.separation-rule
		noticias
			.container
				.row
					.col-md-12.text-center
							h2.orange Notícias
							p.small.gray
								i Fique por dentro do que movimenta São Paulo
				- var total = noticias.length
				- var counter = 0
				if noticias.length
					- noticias.reverse()
					while counter < 4
						if counter%2 == 0
							.row
						if noticias[counter]
							.col-md-2.text-center
								if noticias[counter].image
									img.fit(src=noticias[counter]._.image.fit(160,160))
								else
									img.img-responsive(src='/images/icon_500x500.svg', width='80', height='80')
							.col-md-4
								h3.no-margin: = noticias[counter].name
								if noticias[counter].content.brief
									p!= noticias[counter].content.brief
								else
									p Sem descrição!
								p.btn.small.orange
									a(href='blog/post/' + noticias[counter].key) Leia Mais
						- counter++
				else
					.row
						.col-md-12
							h3.text-center Nenhuma Notícia cadastrada!	
				.row
				br
				br
				br
				.container.text-center
					.row
						.col-md-12
							p.btn.green
								a(href="blog") [+] Notícias...
				br
				br
				br
	.mapa.separation-rule
		.container
			#mapa.row
				.col-md-12.text-center
						h2.orange  Mapa 
						p.small.gray
							i Tudo o que você pode encontrar no Sampa Digital 	
			.row
				.col-xs-12.col-md-12
					.text-center
						p.filters 
							span
								a.selected(href="#VerTudo", onclick="filterMap(this.href, this);return false;") Ver tudo
							|  / 
							span
								a(href="#empresa", onclick="filterMap(this.href, this);return false;") Empresa
							|  / 
							span
								a(href="#instituicao", onclick="filterMap(this.href, this);return false;") Instituição
							|  / 
							span
								a(href="#startup", onclick="filterMap(this.href, this);return false;") Start-up
							|  / 
							span
								a(href="#workplace", onclick="filterMap(this.href, this);return false;") Workplace
							|  / 
							span
								a(href="#incubadora", onclick="filterMap(this.href, this);return false;") Incubadora
							|  / 
							span
								a(href="#universidade", onclick="filterMap(this.href, this);return false;") Universidade
						h3.red#no-company(style="display: none;") Nemnhuma empresa cadastrada
			.row
				.col-xs-12.col-md-12
					- var empresasTotal = empresas.length
					- var empresasCounter = 0
					while empresasCounter < empresasTotal
						if empresas[empresasCounter].endereco.geo
							input(type='hidden', name='company', value=empresas[empresasCounter].endereco.geo, data-name=empresas[empresasCounter].nomeFantasia, data-description=empresas[empresasCounter].descricao, data-telefone=empresas[empresasCounter].telefone, data-face=empresas[empresasCounter].facebook, data-website=empresas[empresasCounter].webSite, data-twitter=empresas[empresasCounter].twitter, data-tipo=empresas[empresasCounter].empresaType).empresaListada
						- empresasCounter++
					div#map(style="height: 320px; max-height: 320px; width: 100%;")
					include ../../public/js/map.js
					script(src=googlesrc, async="true")
				//
					.col-xs-12.col-md-4
						a(href="#")
							img.fit(src="/images/placeholder_1.jpg", alt="Quer divulgar um evento? Cadastre-se.")
						br
						br
						a(href="#")
							img.fit(src="/images/placeholder_2.jpg", alt="Coloque sua start-up no mapa.")
	.agenda.separation-rule
		.container
			#agenda.row
				.col-md-12.text-center
						h2.orange Agenda 
						p.small.gray
							i Fique por dentro do que movimenta São Paulo		
			- var totalAgenda = eventos.length
			- var counterAgenda = 0
			.row
				if eventos.length
					- eventos.reverse()
					while counterAgenda < 4
						if counterAgenda%2 == 0
							.row
						if eventos[counterAgenda]
							.col-md-2.text-center
								if eventos[counterAgenda].image
									img.img-responsive(src=eventos[counterAgenda]._.image.fit(116,116))
								else
									img.img-responsive(src='/images/icon_500x500.svg', width='80', height='80')
							.col-md-4
								h3.no-top-margin
									if eventos[counterAgenda].dataInicio
										span.orange
											| #{eventos[counterAgenda].dataInicio} a #{eventos[counterAgenda].dataFim}
									else
										span.orange
											| sem data!
									br
									if eventos[counterAgenda].name
										p!= eventos[counterAgenda].name
									else
										p Evento!
								if eventos[counterAgenda].content.brief
									p!= eventos[counterAgenda].content.brief
								else
									p Sem descrição!
								p.btn.small.green
									a(href="agenda?=" + eventos[counterAgenda].id) Mais detalhes
						- counterAgenda++
			//
				.row
					.col-xs-12.col-md-4
						.col-md-4.text-center
							img.fit(src="/images/191115_sp_tech_interna_1447953871.jpg", alt="")
						.col-md-8
							h3.no-top-margin
								span.orange 03 a 09 de Novembro
								br
								| São Paulo Tech Week
							p Novas tecnologias, inovação e empreendedorismo são tema de 120 atividades realizadas em vários pontos da cidade.  
							p.btn.small.green
								a(href="#") Mais detalhes
					.col-xs-12.col-md-4
						.col-md-4.text-center
							img.fit(src="/images/jornada.gif", alt="Blog 1")
						.col-md-8
							h3.no-top-margin
								span.orange  12 e 13 de Dezembro
								br
								| 1a Jornada do Patrimônio em São Paulo 
							p   A iniciativa que convida a todos a conhecer a história da cidade representada no vasto patrimônio histórico, cultural e ambiental espalhado em todas as regiões. Imóveis públicos e privados abrirão suas portas para receber visitantes. 
							p.btn.small.green
								a(href="#") Mais detalhes
					.col-xs-12.col-md-4
						.col-md-4.text-center
							img.fit(src="/images/blog-image-2.jpg", alt="Blog 1")
						.col-md-8
							h3.no-top-margin  Empreendedorismo Feminino – WOW
							p  A WOW Aceleradora de Startups convida empreendedoras, empreendedores e interessados no ecossistema de inovação e startup – para o primeiro evento da aceleradora voltado para o empreendedorismo feminino. 
							p.btn.small.green
								a(href="#") Mais detalhes
			br
			br
			br
			.container.text-center
				.row
					.col-md-12
						p.btn.orange
							a(href="/agenda") [+] Eventos...
			br
			br
			br
	
	.tecnologia.separation-rule
		.container
			#tecnologia.row
				.col-md-12.text-center
					h2.orange  Tecnologia  
			.row
				.col-md-3.col-sm-3.col-xs-3.text-center
					a(href="https://www.simbio.com.br/")
						img.img-responsive(src="/images/simbio.jpg", alt="simbio")
						
				.col-md-3.col-sm-3.col-xs-3.text-center
					a(href="http://www.adesampa.com.br/")
						img.img-responsive(src="/images/vaitec.jpg", alt="VAI TEC")
				.col-md-3.col-sm-3.col-xs-3.text-center
					a(href="/bluemix")
						img.img-responsive(src="/images/bluemix_tec.jpg", alt="IBM Bluemix")
				.col-md-3.col-sm-3.col-xs-3.text-center
					a(href="http://www.conethics.net/")
						img.img-responsive(src="/images/partner6.png", alt="Conethics", width='200px', height= '200px')
	
	.separation-rule
		.container
			.row
				.col-md-12.text-center
					h2.orange  Nossos Parceiros  
					p.small.gray
						i Hub do ecossistema de inovação, tecnologia e empreendedorismo de São Paulo
			.row
				.col-md-4.col-sm-4.col-xs-4.text-center
					a(href="http://www.ibm.com/br-pt/")
						img.img-responsive(src="/images/partner1.jpg", alt="IBM")
				.col-md-4.col-sm-4.col-xs-4.text-center
					a(href="http://www.sebrae.com.br/sites/PortalSebrae?utm_expid=80706426-5.hNGA7s9SR029Hr7RIRj0jw.0&utm_referrer=http%3A%2F%2Fadesampadigital.mybluemix.net%2F")
						img.img-responsive(src="/images/partner5.jpg", alt="SEBRAE")
				.col-md-4.col-sm-4.col-xs-4.text-center
					a(href="http://www.integrare.org.br/")
						img.img-responsive(src="/images/partner4.jpg", alt="Integrare")
						
