extends ../layouts/default


include ../mixins/post

block content
	if !post
		.jumbotron.text-center
			h2 Notícia inválida...
			p Por favor, verifique a URL. 
	else
		.container
			.row
				.col-md-12
					ul.breadcrumbs
						li
							a(href="/") Início
						li
							a(href="/blog") &nbsp;Notícias
			.row				
				article
					header
						h2.orange= post.title
						p.orange Publicado em: 
							if post.publishedDate
								time(datetime=post.publishedDate)=post._.publishedDate.format('DD')
								| /
								time(datetime=post.publishedDate)=post._.publishedDate.format('MM')
								| /
								time(datetime=post.publishedDate)=post._.publishedDate.format('YYYY')
				.col-md-12					
					if post.image.exists
						.col-md-4.col-sm-4.col-xs-4	
							img(src=post._.image.fit(300)).img-responsive
						.col-md-8.col-sm-8.col-xs-8
					!= post.content.full
