extends ../layouts/default


include ../mixins/post

block content
	if !post
		.jumbotron.text-center
			h2 Notícia inválida...
			p Por favor, verifique a url. 
	else
		.container
			.row
				.col-md-12
					ul.breadcrumbs
						li
							a(href="/") Início
						li
							a(href="/blog") Notícias
				article
					header
						h2.orange= post.title
						p.orange Publicado em: 
							if post.publishedDate
								time(datetime=post.publishedDate)=post._.publishedDate.format('DD')
								|  de 
								time(datetime=post.publishedDate)=post._.publishedDate.format('MMMM')
								|  de 
								time(datetime=post.publishedDate)=post._.publishedDate.format('YYYY')
						
						
						if post.image.exists
							img(src=post._.image.fit(750,500)).img-responsive
						!= post.content.full
