mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		.row
			.col-md-2.text-center
				if post.image.exists
					img.fit(src=post._.image.fit(160,160))
				else
					img.img-responsive(src='/images/icon_500x500.svg' , width='80', height='80')
			.col-md-10
				//h1=post
				h3.no-margin: = post.name
				p Publicado em:
					if post.publishedDate
							span.orange 
								| #{post._.publishedDate.format('DD')} / #{post._.publishedDate.format('MM')} / #{post._.publishedDate.format('YYYY')}
					if post.categories && post.categories.length
						|  
						each cat, i in post.categories
							a(href='/blog/' + cat.key)= cat.name
							if i < post.categories.length - 1
								| , 
							else
								|  
				p!= post.content.brief
				if post.content.extended
					p.btn.small.orange: a(href='/blog/post/' + post.key) Leia mais
